

body {
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    text-align: center;
    background-image: url(./4game_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98.5vh;
    color: white;
    width: 98vw;
    font-size: 1.9rem;
  }

  #game-intro {
    /* padding: 20px 0px;
    padding-bottom: 0 */
  }
  
  #game-container {
    display: none;
    display: flex;
    width: 98vw;
    /* padding: 20px 0px; */
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(./4game_background.png);
    background-size: cover;
    animation: slide 15s linear infinite;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  
  #game-end {
    display: none;
  }
  
  .logo-img {
    width: 650px;
    height:350px;
    margin-bottom:150px;
    margin-top:30px 
  }
  
  #insert-coin{
    cursor: pointer;
    margin-bottom:230px; 
    width:450px;
    height:150px;
}

#game-intro {
    background-image: url(./2intro_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
}

  body button {
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 50%;
    height: 7%;
    margin-bottom: 10px;
    margin-top: 10px
  }
  
  #stats-container {
    display: none;
    margin-right: 2%;
    height: 0;
  }
  
  #clock-container {
    display: none;
    /* margin-left: 2%;
    margin-top: 1%; */
    height: 0;
  }

  /* #clock-p {
    height: 0;
    padding: 0
  } */