body {
    padding: 0;
    text-align: center;
    background-image: url(./4game_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    color: white;
    width: 98vw;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    display: flex;
    width: 98vw;
    padding: 20px 0px;
    justify-content: center;
  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(./4game_background.png);
    background-size: cover;
    animation: slide 15s linear infinite;
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  
  #game-end {
    display: none;
  }
  
 
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
#game-intro {
    background-image: url(./2intro_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
}

  body button {
    font-size: 30px;
    background-image: url(./3insert_coin.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 50%;
    height: 7%;
    margin-bottom: 20px;
    margin-top: 50px
  }
  
  #stats-container {
    margin-right: 2%;
  }
  
  #clock-container {
    margin-left: 2%;
    margin-top: 1%;
  }